.App {
  text-align: center;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  text-decoration: none;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img {
  padding: 0px 20px;
}
.App-link {
  color: #61dafb;
}

input {
  border-radius: 5px;
}

.basic-flex {
  display: flex;
}

.nav-container {
  border: 1px solid black;
  box-shadow: 0px 1px 5px black;
  background-color: rgb(186, 186, 186);
  height: 90vh;
  width: 20%;
}

.color-name {
  text-align: left;
  margin: 0px 0px 0px 20px;
}

.content-and-pages {
  width: 100%;
  height: auto;
}

.content-container {
  height: 85vh;
  width: 100%;
  overflow: scroll;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  height: 96%;
  max-width: 100%;
}

.page-view {
  margin: 0 0 0 10px;
  position: fixed;
  bottom: 0;
  background-color: white;
  height: 8%;
  width: 83%;
}

.page-number {
  display: inline-block;
  padding: 0 20px;
}

.page-number:hover {
  text-decoration: underline;
  cursor: pointer;
}

.swatch {
  overflow: hidden;
  border: 1px solid rgb(186, 182, 182);
  margin: 20px 40px;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  box-shadow: 1px 1px 1px grey;
}  

.swatch:hover{
  opacity: .8;
  cursor: pointer;
}  

.swatch-color {
  width: 100%;
  height: 80%;
}  

.swatch-label {
  text-align: left;
  margin: 0px 0px 0px 10%;
}

.detail-container {
  width: 100%;
  height: 90vh;
}  

.swatch-detail {
  border: 1px solid black;
  border-radius: 5px;
  margin: 40px auto;
  width: 95%;
  height: 60%;
}  

.reset-button {
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  height: 8%;
  background-color: white;
  text-align: center;
}  

.clear-button {
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 10px;
  width: 20%;
  height: 8%;
  text-align: center;
  background-color: white;
  text-align: center;
}

.reset-button:hover {
  cursor: pointer;
}  

.clear-button:hover {
  cursor: pointer;
}
