.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  border-radius: 5px;
}

.basic-flex {
  display: flex;
}

.nav-container {
  border: 1px solid black;
  box-shadow: 0px 1px 5px black;
  background-color: rgb(186, 186, 186);
  height: 90vh;
  width: 20%;
}

.content-and-pages {
  width: 100%;
  height: auto;
}

.content-container {
  height: 90vh;
  width: 100%;
  overflow: scroll;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  height: 90%;
  max-width: 100%;
}

.page-view {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  background-color: white;
  height: 10%;
  width: 83%;
}

.page-number {
  display: inline-block;
  padding: 0 20px;
}

.page-number:hover {
  text-decoration: underline;
  cursor: pointer;
}

.swatch {
  border: 1px solid rgb(186, 182, 182);
  margin: 10px 40px;
  border-radius: 5px;
  width: 80%;
  height: 80%;
}  

.swatch:hover{
  opacity: .8;
  cursor: pointer;
}  

.swatch-color {
  width: 100%;
  height: 80%;
}  

.detail-container {
  width: 90%;
  height: 90vh;
}  

.swatch-detail {
  border: 1px solid black;
  border-radius: 5px;
  margin: 40px auto;
  width: 95%;
  height: 60%;
}  

.reset-button {
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 5px;
  width: 45%;
  height: 8%;
  background-color: white;
  text-align: center;
}  

.reset-button:hover {
  cursor: pointer;
}  
